@charset "UTF-8";

*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
}

button {cursor:pointer; border:0;}

.clearfix::after{
    display: block; 
    content : ""; 
    clear: both;
}




#container{
    position: relative;
    top: 0;
    left: 0;
    height: 200vh;
}

#header{
    position: relative;
    top: 0;
    left: 0;
    height: 10%;
    z-index: 100;
}

/* 햄버거 */
html,body {width: 100%; overflow-x: hidden; overflow-y: auto;}

.cate_btn{
    position: absolute;
    top: 24px;
    left: 15px;
    z-index: 1000;
} 

input[id="hamburger"] {
  display: none;
}
input[id="hamburger"] + label {
  display: block;    
  width: 40px;
  height: 28px;
  position: relative;
  cursor: pointer;
}
input[id="hamburger"] + label span {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 30px;
  background: #797979;
  transition: all 0.35s;
}
input[id="hamburger"] + label span:nth-child(1) {
  top: 0;
}
input[id="hamburger"] + label span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
input[id="hamburger"] + label span:nth-child(3) {
  bottom: 0;
}
input[id="hamburger"]:checked + label {
  z-index: 99;
}
input[id="hamburger"]:checked + label span {
  background: #797979;
}
input[id="hamburger"]:checked + label span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
input[id="hamburger"]:checked + label span:nth-child(2) {
  opacity: 0;
}
input[id="hamburger"]:checked + label span:nth-child(3) {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}
/* 여기까지 */

/* 카테고리 */
.cate_box {
    /* 백그라운드 설정, 너비 220px , 높이 300px , 마진 상단값 10px , 폰트컬러 흰색 , 텍스트 가운데 정렬 ,폰트사이즈 30px */
    position: relative;
    background-color: #00000098;
    width: 300px;
    height: 100vh;
    padding: 30px;
    display: none;
}

.cate_box p {
    position: absolute;
    top: 140px;
    left: 32px;
    color: #fff;
    font-size: 24px;
}

.cate_box2{     
    position: absolute;
    top: 240px;
    left: 24px;
    color: #fff;
    font-size: 22px;
}

.cate_box2 li{
    padding: 10px;
}

.cate_box2 li a:hover{
    color:#6f0000;
}

.adm_menu{
    position: absolute;
    bottom: 120px;
    left: 24px;
    color: #fff;
    font-size: 18px;
}
.adm_menu li{
    padding: 10px 0;
}



/* 검색창 */
#header .search_box{   
    position: absolute;
    top: -5px;
    right: 420px;
    margin-top: 30px;
    margin-right: 20px;
    font-size: 16px;
    padding-right: 36px;
    text-align: right;
    width: 250px;
    height: 30px;
    border: 2px solid #666666;
}

/* 돋보기 버튼 */
#header button{
    position: absolute;    
    top: 28px;
    right: 444px;
    background: none;
}

/* 로그인~컨택 */
#header .gnb{
    position: absolute;
    top: -6px;
    right: 3px;
    margin-right: 30px;
    margin-top: 33px;
}

#header .gnb li{
    list-style: none;
    float: left;
}

#header .gnb a{
    padding: 10px;
    color: #919191;
    font-size: 18px;
}

#header .gnb a:hover{
    color: #9c0000
}

.signbox{
  width: 100%;
  height:3%;
  background-color:rgb(91, 31, 31);
}
.title{
  text-align: center;
  font-size: 50px;
  margin-top: 100px;
  font-weight: bold;
}
.product_list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start; /* 将元素对齐到每行的顶部 */
    margin-top: 150px;
    width: 80%;
    margin-left: 200px;
    margin-right: 200px;
  


}
.hidden{
	display:none;
}

.product1 {
    width: 40%; /* 设置每个商品容器的宽度为30%减去间距 */
    margin-bottom: 100px; /* 调整每行底部的间距为适当的值 */
    margin-right: 20px;
    height: 80%; /* 设置高度为自适应 */
}

.p1img {
    height: 90%;
    width: 100%;
}

.pcols{
	display: flex;
    flex-direction: row; /* 设置为横向排列 */
    height: 300px; 
    margin-bottom:50px;
}

.page-link{
	color:black;
	margin:auto;
}
.pagination{
	text-align: center;
}

.pagination li {
    display: inline-block;
    margin-right: 20px; /* 调整页码之间的间距 */
}
.page-item{
	font-size:20px;
	font-weight: bold;
}
.

